

{% block content %}
{% load static %}
<html>
    <head>
      <link href="{% static "base/css/cart.css" %}" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      
    </head>
    <body>
        {% include "nav.html" %}
        
      {% comment "navbr koo tala arko nav bar ma "   %} item quantity price {% endcomment %}
</body>
</html>

{% endblock  %}